extends layout


block content
    script(src="/javascripts/regListAdmin.js")
    div
        table.table.table-hover
            thead
                tr: th Registered people:
            tbody
                each entry in data
                    tr
                        td=entry.name 
                        td 
                        button(id='myButton' onclick='removeParticipant("#{entry._id}", "#{entry.name}")') #{entry.name}
                        script.
                            function removeParticipant(id, name) {
                                if (confirm(`Do you want to remove ${name}?`)) {
                                    fetch(`/regList/deleteParticipant?id=${escape(id)}`, { method: 'POST' })
                                        .then(function (response) {
                                            if (response.ok) {
                                                console.log('Click was recorded');
                                            } else {
                                                throw new Error('Request failed.');
                                            }
                                        })
                                        .catch(function (error) {
                                            console.log(error);
                                        });
                                }
                            };