extends layout

block content
    h1= title
    div
        table.table.table-hover
            thead
                tr: th Registered people:
            tbody
                each entry in data
                    tr
                        td=entry.name 
                        td 
                        button(type='submit' onclick='edit("#{entry._id}, #{entry.name}")') #{entry.name}
                        script.
                            function edit(id, name) {
                                var val = confirm ("Do you want to remove " + name + "?");
                                if (val==true) {
                                    fun1();
                                    asd();
                                    return true;
                                }
                            };